.form{
    --color: @bright;
}
.error{
    --color: rgb(255,50,50);
}

label{
    margin-bottom: .2rem;
    margin-top: 10px;   
    color:white; 
}

input, input:focus{
    border-color: var(--color)
}

.btn-submit{
    float:right;
    border:1px solid @bright;
    color:white;
    background-color: @medium;
}
.btn-submit:hover{
    background-color: @medium;
    color:white;
    border:1px solid @bright;
}
