/* BASIC */
body{
    background-color: @dark;
    color:white;
    overflow-y: scroll;
}
:root {
    color-scheme: dark;
}
.no-select::selection, .no-select *::selection {
background-color: Transparent;
}
.no-select{
    cursor: default;
}

::placeholder {
    color: red;
}

.danger{
    --color: rgb(255,50,50);
}	
.success{
    --color: rgb(50,170,50);
}
.info{
    --color: rgb(50, 170, 190);
}
.warning{
    --color: rgb(255, 170, 50);
}
.hover{
    transition: all .2s ease-in-out;
    color: #aaa;
}
.hover:hover{
    color: var(--color)
}
.inert{
    color: var(--color)
}
